<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<!--/*@thymesVar id="recipe" type="de.segoy.springframework.recipe.domain.Recipe"*/-->
<h2>List of Recipes</h2>
<table id="recipes" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">1</td>
        <td th:text="${recipe.description}">1</td>
    </tr>
    </tbody>
</table>
</body>
</html>